@font-face {
	font-family: Arial;
	font-display: swap;
	src: url("../fonts/Arial.woff2") format("woff2"), url("../fonts/Arial.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: tahoma;
	font-display: swap;
	src: url("../fonts/tahoma.woff2") format("woff2"), url("../fonts/tahoma.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
