.sublogo{
	font-family: var(--third-family);
	font-weight: 400;
	font-size: 14px;
	color: var(--text-color);
}

.chat-text{
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(0.625rem, 0.6rem + 0.13vw, 0.75rem);
}

.main--descr{
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	color: var(--text-color);
}

.sub--main{
	position: relative;
	font-family: var(--second-family);
	font-weight: 400;
	font-size: clamp(0.688rem, 0.625rem + 0.31vw, 1rem);
	color: var(--text-opacity);
}

.footer--descr{
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(0.5rem, 0.425rem + 0.38vw, 0.875rem);
	color: var(--text-footer);
	text-align: center;
}

.footer--logo{
	font-family: var(--font-family);
	font-weight: 400;
	font-size: clamp(0.563rem, 0.475rem + 0.44vw, 1rem);
	color: var(--text-color);
}